html,body {
  margin: 0;
  padding: 0;
}

.adm-card,
body,
button,
div,
span {
  font-family: 'Anaheim-Regular';
}


:root:root {
  --adm-color-primary: #234F9B;
}
.adm-card-header-title {
  width: 100%;
}
.adm-form-item-label {
  // padding-left: 6px;
}
.adm-tab-bar-item-icon {
  font-size: 34px;
  height: 34px;
}
.adm-tab-bar-item-title {
  font-size: var(--adm-font-size-6);
  line-height: 15px;
  padding-bottom: 8px;
}

.connect_button_warp > div > button {
  height: auto !important;
  min-height: 32px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.connect_button_warp button > div {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.ant-modal-footer:empty {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.ant-statistic-content {
  // font-size: 12px !important;
}
.ant-list-item-meta-avatar {
  margin-inline-end: 8px !important;
}
.ant-progress .ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path {
  stroke: #234F9B;
}

.tabs-not-headers {
  .ant-tabs-nav {
    display: none;
  }
}

.ant-form-with-label-right {
  .ant-form-item .ant-form-item-label {
    text-align: right;
  }
}

pre {
  overflow: auto;
}

.ant-tabs-with-full {
  .ant-tabs-nav-list {
    width: 100%;
  }
  .ant-tabs-tab {
    display: flex;
    justify-content: center;
    flex: 1;
  }
  .ant-tabs-tab {
    margin: 0 !important;
  }
}

.ant-content-with-full {
  .ant-modal {
    margin: 0;
    width: 100% !important;
    max-width: none;
    height: 100%;
  }
  .ant-modal-content {
    min-height: 100vh;
  }
}

:root {
  --swiper-navigation-size: 28px;
  --swiper-navigation-color: #234F9B;
}

