#nprogress {
  pointer-events: none;

  .bar {
    top: 0;
    height: 5px;
    opacity: 0.75;
    background: var(--adm-color-primary);
    position: fixed;
    z-index: 1031;
    left: 0;
    width: 100%;
    border-radius: 5px;
  }
  .spinner {
    display: none;
  }
}